@import url('./reset.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  min-height: 100vh;
  background-color: #f7f7f7f7;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: 1.2rem;
  color: #1e1e1e;
}

section,
app-footer {
  max-width: 900px;
  width: 100%;
}

section {
  height: auto;
  padding: 15px 10px;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
  font-weight: 800;
  color: #aaaab7;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
}

h3 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
}

.explanation {
  font-weight: 600;
}

ul {
  margin: 5px 0px;
}

.project-box {
  margin: 1rem 0;
  padding: 5px 12px;
  border: 1px solid #e8e8ed;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);

    cursor: pointer;
  }

  .title-row ul {
    padding: 0;
    list-style: none;
  }

  .link-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    fill: #9b9ba6;
  }
}

.title-row {
  display: flex;
  align-items: baseline;

  h3 {
    margin: 0 1rem 0 0;
  }

  ul {
    display: flex;

    li {
      margin-right: 0.5rem;
    }
  }
}

#posts-container {
  padding-left: 1.5rem;
  list-style: disc;
}

.about-me-keyword {
  font-size: 1.6rem;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
  margin-top: 40px;
  padding: 25px 0px;
  height: 100px;
  border-top: 1px solid #9b9ba6;
}

footer a {
  margin: 0 5px;
  font-size: 0;
}

.footer-icon {
  width: 22px;
  height: 22px;
  fill: #9b9ba6;
}

.link {
  color: #9b9ba6;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 1px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  padding: 4px 7px;
  border-radius: 6px;
  background-color: #777;
  color: #fff;
  text-align: center;
  font-size: 0.4em;
  font-weight: 400;
  min-width: 60px; /* 최소 너비 설정 */
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  /* Add animation */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  section {
    min-height: 130px;
  }

  h1 {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  h3 {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
  }

  iframe {
    width: 100%;
  }

  footer {
    max-width: 100%;
    padding: 15px 0px;
  }
}
