@import url('./reset.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  min-height: 100vh;
  background-color: #f7f7f7f7;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: 1.2rem;
  color: #1e1e1e;
}

section,
footer {
  max-width: 900px;
  width: 100%;
}

section {
  min-height: 240px;
  height: auto;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
  font-weight: 800;
  color: #aaaab7;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
}

h3 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
}

.explanation {
  font-weight: 600;
}

ul {
  margin: 5px 0px;
  padding-left: 0px;
}

li {
  list-style: none;
}

.project-box {
  margin-bottom: 1.4rem;

  .link-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    fill: #9b9ba6;
  }
}

.title-row {
  display: flex;
  align-items: baseline;

  h3 {
    margin: 0 1rem 0 0;
  }

  ul {
    display: flex;

    li {
      margin-right: 0.5rem;
    }
  }
}

.about-me-keyword {
  font-size: 1.6rem;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
  margin-top: 40px;
  padding: 20px 0px;
  height: auto;
  border-top: 1px solid #9b9ba6;
}

footer a {
  margin: 0 5px;
  font-size: 0;
}

.footer-icon {
  width: 22px;
  height: 22px;
  fill: #9b9ba6;
}

a {
  color: #9b9ba6;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 1px;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  section,
  footer {
    max-width: 100%;
    padding: 5px 10px;
  }

  section {
    min-height: 130px;
  }

  h1 {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  h3 {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
  }

  iframe {
    width: 100%;
  }
}
