@import url('./reset.css');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  min-height: 100vh;
  background-color: #1e1e1e;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: 1.2rem;
  color: #e0e0e0;
}

section,
footer {
  max-width: 800px;
  width: 100%;
}

header {
  a {
    color: #ccc;
  }
}

section {
  min-height: 240px;
  height: auto;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
  font-weight: 800;
  color: #ffffff;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
}

h3 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
  a {
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }
}

ul {
  margin: 5px 0px;
  padding-left: 0px;
}

li {
  list-style: none;
}

.project-box {
  margin: 5px 0;

  .explanation {
    font-weight: 600;
  }
}

.about-me-keyword {
  font-size: 1.6rem;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  column-gap: 0.8rem;
  margin-top: 40px;
  padding: 20px 0px;
  height: auto;
  border-top: 1px solid #ccc;
}

footer a {
  margin: 0 5px;
  font-size: 0;
}

.footer-icon {
  width: 22px;
  height: 22px;
  fill: #aaa;
}

a {
  color: #dddddd;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  section,
  footer {
    max-width: 100%;
    padding: 5px 10px;
  }

  section {
    min-height: 130px;
  }

  h1 {
    font-size: clamp(1.7rem, 5vw, 2.5rem);
  }

  h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  h3 {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
  }

  iframe {
    width: 100%;
  }
}
